extends layout

block content

  h2 number of items: #{products.length}
  .list
    each product in products
        div
            a(href=product.url) 
                img(src="./images/product_placeholder.jpg", alt="")
            h3= product.name
            .info 
                p In stock: #{product.in_stock}
                p $#{product.price} 