extends layout

block content
    .detail-page
        img.detail-picture(src="/images/product_placeholder.jpg", alt="")
        .detail
            .product-info
                h2 #{product.name}
                p Description: #{product.desc}           
                p Category: #[a(href=product.category_url) #{product.category.name}]
                p In stock: #{product.in_stock}
                p Price: $#{product.price}
            .button-group
                button.buy Buy 
                a(href=product.url + "/edit")
                    input.update(type="button", value="Edit")
                a(href=product.url + "/delete")
                    input.delete(type="button", value="Delete")